





.c-btnNormal {
    color: $text_color;
    font-weight: bold;
    background: $button_bg_white_gradient;
    background: linear-gradient(to bottom,$button_bg_white 0%,#fff 48%,#fff 100%);
    padding: 10px 15px;
    border: 2px solid $white_smoke;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(#000,.75);
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    
    &:hover,
    &:active {
      background: linear-gradient(to bottom,#fff 0%,#fff 52%,$button_bg_white_gradient 100%);
    }
  
    @include mq($md) {
      box-shadow: 2px 3px 4px rgba(#000,.75);
    }
  }