.p-principle {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  @include mq($md) {
    max-width: 1170px;
  }
}

.p-principle__frame {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include mq($md) {
    margin-bottom: 30px;
  }
}

.p-principle__item {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  @include mq($md) {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.p-principle__circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 62px;
  line-height: 105px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
}

.p-principle__circle--building {
  @extend .p-principle__circle;
  background-color: #4caf50;
}

.p-principle__circle--desktop {
  @extend .p-principle__circle;
  background-color: #ff9800;
}

.p-principle__circle--wordpress {
  @extend .p-principle__circle;
  background-color: #0085ba;
}

.p-principle__title {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-principle__title--small {
  font-size: 65%;
  color: #777;
}

.p-principle__description {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  color: #000;
  padding: 0 15px;
  margin: 0;
}