@import "_reset.scss";


@font-face {
  // さわらびゴシック
  font-family: "Sawarabi";
  src: url("../font/SawarabiGothic-Regular.ttf");
}

body {
  font-family: "Sawarabi", sans-serif;
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s ease;
  }
  &.fadeout {
    &::after {
      opacity: 1;
    }
  }
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/*------------------------------
8.1 Back to top button (vue.js)
------------------------------*/
[v-cloak] {
  display: none;
}
