/*--------------------------------------------------------------
1.0 Reset.scss 
----------------------------------------------------------------*/
/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type=checkbox] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
  /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Sawarabi";
  src: url("../font/SawarabiGothic-Regular.ttf");
}
body {
  font-family: "Sawarabi", sans-serif;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s ease;
}
body.fadeout::after {
  opacity: 1;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/*------------------------------
8.1 Back to top button (vue.js)
------------------------------*/
[v-cloak] {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .header-content {
  margin: 0 auto;
  padding: 60px 10%;
  width: 100%;
  transition: padding 0.3s;
}
@media screen and (max-width: 1024px) {
  header .header-content {
    width: 90%;
    padding: 25px 0;
  }
  header.fixed .header-content {
    padding: 17px 0;
  }
}
@media screen and (max-width: 480px) {
  header .header-content {
    padding: 30px 0;
  }
  header h1 {
    margin-top: 0;
  }
}

.l-header__nav {
  position: relative;
}

.l-header__navPc {
  position: absolute;
  right: 0%;
}
@media screen and (max-width: 1024px) {
  .l-header__navPc {
    display: none;
  }
}

.l-header__navPcItem {
  display: inline-block;
}
.l-header__navPcItem a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
}
.l-header__navPcItem a:hover, .l-header__navPcItem a.active {
  opacity: 0.6;
}

.l-header__toggleNav {
  display: none;
}
.l-header__toggleNav:checked ~ .l-header__hamburger {
  height: 28px;
}
.l-header__toggleNav:checked ~ .l-header__hamburger div {
  background-color: #000;
}
.l-header__toggleNav:checked ~ .l-header__hamburger div:nth-of-type(1) {
  margin-top: 6px;
  transform: rotate(135deg);
}
.l-header__toggleNav:checked ~ .l-header__hamburger div:nth-of-type(2) {
  opacity: 0;
}
.l-header__toggleNav:checked ~ .l-header__hamburger div:nth-of-type(3) {
  margin-top: -12px;
  transform: rotate(-135deg);
}
.l-header__toggleNav:checked ~ .l-header__menu {
  opacity: 1;
  opacity: 0.9;
  visibility: visible;
}

.l-header__menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1010;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
  will-change: opacity, visibility;
  text-align: center;
}
.l-header__menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.l-header__menu ul li {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
.l-header__menu ul li a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}
.l-header__menu ul li:hover, .l-header__menu ul li.active {
  opacity: 0.4;
}

.l-header__navSm #toggle-nav {
  display: none;
}
.l-header__navSm #toggle-nav:checked ~ .l-header__hamburger {
  height: 28px;
}
.l-header__navSm #toggle-nav:checked ~ .l-header__hamburger div {
  background-color: #000;
}
.l-header__navSm #toggle-nav:checked ~ .l-header__hamburger div:nth-of-type(1) {
  margin-top: 6px;
  transform: rotate(135deg);
}
.l-header__navSm #toggle-nav:checked ~ .l-header__hamburger div:nth-of-type(2) {
  opacity: 0;
}
.l-header__navSm #toggle-nav:checked ~ .l-header__hamburger div:nth-of-type(3) {
  margin-top: -12px;
  transform: rotate(-135deg);
}
.l-header__navSm #toggle-nav:checked ~ .l-header__menu {
  opacity: 1;
  opacity: 0.9;
  visibility: visible;
}
.l-header__navSm .l-header__hamburger {
  cursor: pointer;
  position: fixed;
  z-index: 1020;
  top: 42px;
  right: 42px;
  width: 32px;
  height: 14px;
  margin: 0;
  padding: 0;
  display: none;
}
.l-header__navSm .l-header__hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: background-color 0.5s, transform 0.5s;
}
.l-header__navSm .l-header__hamburger div:nth-of-type(2) {
  margin: 4px 0;
}
@media screen and (max-width: 1024px) {
  .l-header__navSm .l-header__hamburger {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .l-header__navSm .l-header__hamburger {
    right: 32px;
  }
}

.l-header__shareBtn {
  display: block;
  margin-top: 50px;
  text-align: center;
  padding-left: 0;
}
.l-header__shareBtn li {
  display: inline-block;
  padding: 0 15px;
}
.l-header__shareBtn li:hover, .l-header__shareBtn li.active {
  opacity: 1;
}

.pageTop {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: auto;
}
.pageTop a {
  display: block;
  opacity: 0.9;
  background: #a9a9b1;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 25px 0 10px;
  transition: all 0.3s ease-in-out;
}
.pageTop a:hover {
  opacity: 0.6;
}
.pageTop span {
  display: block;
  border-right: solid 2px #ffffff;
  border-top: solid 2px #ffffff;
  left: calc(50% - 4px);
  position: absolute;
  top: 8px;
  transform: rotate(-45deg) translateX(-50%);
  width: 13px;
  height: 13px;
}

footer {
  margin-top: auto;
}
footer .f_share_btn {
  margin-top: 50px;
  text-align: center;
}
footer .f_share_btn ul {
  padding-left: 0;
  margin-bottom: 14px;
}
footer .f_share_btn li {
  display: inline-block;
  padding: 0 15px;
}
footer .cp_right {
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  footer .f_share_btn li {
    padding: 0 10px;
  }
}
.l-footer {
  margin-top: auto;
}

.l-page {
  padding-top: 200px;
}/*# sourceMappingURL=style.css.map */