.p-smartphone__frame {
  width: 100%;
  margin: 0 auto;
  @include mq($md) {
    width: 90%;
  }
}

.p-smartphone__title {
  font-size: 16px;
  line-height: 1.5;
}

.p-smartphone__text {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin: 0 0 15px;
}

.p-smartphone__list {
  padding-left: 1em;
}

.p-smartphone__listItem {
  list-style: disc;
  margin-bottom: 10px;
  padding: 0;
  font-size: 15px;
  line-height: 1.75;
  @include mq($md) {
    padding-left: 1em;
  }
}
