.p-singleWorksContent {
  margin: 10px 0;
  @include mq($md) {
    margin: 0 0 10px;
    max-width: 700px;
    margin: 0 auto 60px;
  }
}

.p-singleWorksContent__slider {
  cursor: pointer;
  // slick.css インジケーターの上書き
  .slick-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    @include mq($md) {
      bottom: -1%;
    }
    li {
      width: 40px;
      button:before {
        font-size: 32px;
        line-height: 48px;
      }
    }
  }
}

// slick.css の上書き
.slick-list {
  height: 370px;
  @include mq($md) {
    height: 600px;
  }
}

.p-singleWorksContent__sliderItem {
  position: relative;
  text-align: center;
}

.p-singleWorksContent__sitename {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #6c7279;
  width: 100%;
  @include mq($md) {
    bottom: -10%;
    font-size: 25px;
  }
  a {
    color: #6c7279;
  }
  &:hover {
    opacity: 0.6;
  }
}

/* イントラサイトの場合 */
.p-singleWorksContent__intra {
  cursor: auto;
}
.p-singleWorksContent__intraImg {
  opacity: 0.2;
}
.p-singleWorksContent__intraText {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 25%;
  z-index: 10;
  text-align: center;
  color: #6c7279;
  font-size: 1.8rem;
  @include mq($md) {
    bottom: 35%;
    font-size: 2.5rem;
  }
}
