// ブランド
.u-colorBrand {
  color: $brand_base_color;
}
.u-colorBrandSp {
  @include only_mq($md) {
    color: $brand_base_color;
  }
}
.u-colorBrandPc {
  @include mq($md) {
    color: $brand_base_color;
  }
}

.u-backgroundBrand {
  background: $brand_base_color;
}
.u-backgroundBrandSp {
  @include only_mq($md) {
    background: $brand_base_color;
  }
}
.u-backgroundBrandPc {
  @include mq($md) {
    background: $brand_base_color;
  }
}

// 時計
.u-colorTokei {
  color: $tokei_base_color;
}
.u-colorTokeiSp {
  @include only_mq($md) {
    color: $tokei_base_color;
  }
}
.u-colorTokeiPc {
  @include mq($md) {
    color: $tokei_base_color;
  }
}

.u-backgroundTokei {
  background: $tokei_base_color;
}
.u-backgroundTokeiSp {
  @include only_mq($md) {
    background: $tokei_base_color;
  }
}
.u-backgroundTokeiPc {
  @include mq($md) {
    background: $tokei_base_color;
  }
}

// 金
.u-colorGold {
  color: $gold_base_color;
}
.u-colorGoldSp {
  @include only_mq($md) {
    color: $gold_base_color;
  }
}
.u-colorGoldPc {
  @include mq($md) {
    color: $gold_base_color;
  }
}

.u-backgroundGold {
  background: $gold_base_color;
}
.u-backgroundGoldSp {
  @include only_mq($md) {
    background: $gold_base_color;
  }
}
.u-backgroundGoldPc {
  @include mq($md) {
    background: $gold_base_color;
  }
}

//注意書き
.u-colorAttention {
  color: $red;
}


// テーブル配色
.u-tableTheme--silver {
  --th-bg: #ececec;
  --th-cl: #999;
  --td-cl: #{$gray_dark};
}
.u-tableTheme--gold {
  --th-bg: #fcf4d2;
  --th-cl: #{$gold_base_color};
  --td-cl: #{$gray_dark};
}
.u-tableTheme--palladium {
  --th-bg: #{$gray_light};
  --th-cl: #{$white};
  --td-cl: #{$gray_dark};

  --table-border: #{$gray};
}
.u-tableTheme--platinum {
  --th-bg: #e2f0fb;
  --th-cl: #{$brand_base_color};
  --td-cl: #{$gray_dark};
}
.u-tableTheme--goldPlatinum {
  --th-bg: #f5eed8;
  --th-cl: #a37f73;
  --td-cl: #{$gray_dark};
}
